html, body {
  background-color: #20243c;
  font-family: 'Titillium Web', sans-serif;
  transition: .2s;
  scroll-behavior: smooth;
}

.oliverNameAndIntro {

}

.underQuotelinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.4rem
}

.underQuotelink {
  font-size: 30px
}

.faceAndQuoteSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  gap: 2rem;
  /* padding: 10px 20px 0px 20px; */
  box-sizing: border-box;
  transition: 2s;
  text-align: center;
}
  .languageSeperator {
    display: none;
  }

.ollyFacePfp {
  /* margin-left: -20%; */
  display: flex;
  align-items: flex-start;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
  transition: .2s;
  background-image: url(../public/assets/Avatar_ghostrobe5_320x320_transparent.png);
  background-size: cover;
  background-position: top;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 800px) {
  .faceAndQuoteSection {
    margin-top: 80px;
    gap: 0.5rem;
    width: 100vw;
  }
  .languageSeperator{
    display: block;
  }
}